.products {
   margin-bottom: rem(100);

   @media (max-width:$tablet) {
      margin-bottom: rem(80);
   }

   @media (max-width:$mobile) {
      margin-bottom: rem(40);
   }

   // .products__container

   &__container {}

   // .products__title

   &__title {}

   // .products__grid

   &__grid {
      display: grid;
      grid-template-columns: 1.42fr 1fr;
      gap: 30px;

      @media (max-width:$tablet) {
         grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width:$mobileMiddle) {
         gap: 10px;
      }
   }

   // .products__first-block

   &__first-block {
      display: flex;
      gap: 67px;

      @media (max-width:$tablet) {
         flex-direction: column-reverse;
         gap: 20px;
         align-self: start;
      }

      @media (max-width:$mobile) {
         grid-column: 1/3;
         grid-row: 1/2;
         flex-direction: row-reverse;
         justify-content: space-between;
      }

      @media (max-width:$mobileMiddle) {
         margin-bottom: rem(10);
         flex-direction: column-reverse;
      }
   }

   // .products__lines

   &__lines {
      .product-line__headline {
         @media (max-width:$tablet) {
            display: grid;
            grid-template-columns: repeat(2, 44px 1fr);
         }
      }

      .product-line__headline-item {
         @media (max-width:$tablet) {

            &:nth-child(3),
            &:nth-child(4) {
               display: block;
            }
         }
      }

      .product-line__grid {
         @media (max-width:$tablet) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 19px;
         }
      }

      .product-line__row {
         @media (max-width:$tablet) {
            margin-bottom: 0;
         }
      }
   }

   // .products__subtitle

   &__subtitle {
      @media (max-width:$tablet) {
         display: grid;
         grid-template-columns: 150px 1fr;
         align-items: center;
         column-gap: 7px;
      }

      @media (max-width:$mobile) {
         grid-template-columns: 1fr;
         align-self: start;
      }

      @media (max-width:$mobileMiddle) {
         grid-template-columns: 100px 1fr;
         align-items: center;
         align-self: auto;
      }
   }

   // .products__subtitle-count

   &__subtitle-count {
      font-size: 200px;
      line-height: 200px;

      @media (max-width:$laptopLarge) {
         font-size: 100px;
         line-height: 100px;
         margin-bottom: rem(10);
      }

      @media (max-width:$tablet) {
         font-size: 80px;
         line-height: 80px;
         grid-column: 1/2;
         grid-row: 1/3;
         margin-bottom: rem(0);
      }

      @media (max-width:$mobile) {
         font-size: 60px;
         line-height: 60px;
         margin-bottom: rem(10);
      }

      @media (max-width:$mobileMiddle) {
         margin: 0;
      }

      @media (max-width:$mobileSmall) {
         font-size: 50px;
         line-height: 50px;
      }
   }

   // .products__subtitle-text

   &__subtitle-text {
      font-size: 60px;
      line-height: 60px;
      margin-bottom: rem(14);

      @media (max-width:$laptopLarge) {
         font-size: 40px;
         line-height: 40px;
         margin-bottom: rem(10);
      }

      @media (max-width:$tablet) {
         font-size: 30px;
         line-height: 30px;
         margin-bottom: 0;
      }

      @media (max-width:$mobile) {
         font-size: 25px;
         line-height: 25px;
         margin-bottom: rem(10);
      }

      @media (max-width:$mobileMiddle) {
         margin: 0;
      }

      @media (max-width:$mobileSmall) {
         font-size: 22px;
         line-height: 22px;
      }
   }

   // .products__subtitle-small-text

   &__subtitle-small-text {
      font-size: 25px;
      line-height: 35px;

      @media (max-width:$laptopLarge) {
         font-size: 20px;
         line-height: 20px;
      }

      @media (max-width:$tablet) {
         font-size: 17px;
         line-height: 17px;
      }

      @media (max-width:$mobile) {
         font-size: 15px;
         line-height: 15px;
      }

      @media (max-width:$mobileSmall) {
         font-size: 13px;
         line-height: 13px;
      }

   }

   // .products__card

   &__card {
      color: #fff;
      border-radius: 50px;
      padding: rem(100);
      padding-right: rem(0);
      position: relative;
      overflow: hidden;

      &:hover {
         .products__card-ibg {
            transform: scale(1.1);
         }
      }

      @media (max-width:$laptopLarge) {
         padding: rem(50);
      }

      @media (max-width:$tablet) {
         padding: rem(30);
         border-radius: 20px;
      }

      @media (max-width:$mobileSmall) {
         padding: rem(15);
      }

      // .products__card_cabin

      &_cabin {
         background: #009441;
         grid-column: 1/2;
         margin-top: rem(-310);
         height: 813px;

         @media (max-width:$laptopLarge) {
            height: 565px;
            margin-top: rem(-110);
         }

         @media (max-width:$tablet) {
            grid-column: 1/3;
            grid-row: 2/3;
            margin: 0;
            height: 345px;
         }

         @media (max-width:$mobile) {
            grid-column: 1/2;
            height: 255px;
         }

         @media (max-width:$mobileSmall) {
            height: 167px;
         }
      }

      // .products__card_air

      &_air {
         background: #2AB9EF;
         grid-column: 2/3;
         grid-row: 1/2;
         height: 699px;

         @media (max-width:$laptopLarge) {
            height: 482px;
         }

         @media (max-width:$tablet) {
            height: 345px;

            .products__descr {
               max-width: 210px;
            }
         }

         @media (max-width:$mobile) {
            grid-row: 2/3;
            height: 255px;
         }

         @media (max-width:$mobileSmall) {
            height: 167px;
         }
      }

      // .products__card_transmition

      &_transmition {
         background: #FFFFFF;
         color: #000;
         grid-column: 1/2;
         margin-top: rem(-190);
         height: 813px;

         .products__link {
            color: #1CA6DA;

            &::after {
               background: url(../img/arrow-blue-right.svg) center / contain no-repeat;
            }
         }

         @media (max-width:$laptopLarge) {
            height: 565px;
            margin-top: rem(-30);
         }

         @media (max-width:$tablet) {
            grid-column: 1/3;
            grid-row: 3/4;
            margin: 0;
            height: 400px;

            .products__descr {
               max-width: 267px;
            }

            .products__card-ibg {
               height: 650px;
               top: -230px;
            }
         }

         @media (max-width:$mobile) {
            height: 300px;

            .products__name {
               flex: none;
            }

            .products__descr {
               display: block;
               max-width: 196px;
            }

            .products__card-ibg {
               height: 440px;
               top: -135px;
            }
         }

         @media (max-width:$mobileSmall) {
            height: 189px;

            .products__name {
               flex: 1 1 auto;
            }

            .products__descr {
               display: none;
            }

            .products__card-ibg {
               height: 330px;
            }
         }
      }

      // .products__card_oil

      &_oil {
         background: #002432;
         grid-column: 2/3;
         grid-row: 2/3;
         height: 699px;

         .products__link {
            color: #1CA6DA;

            &::after {
               background: url(../img/arrow-blue-right.svg) center / contain no-repeat;
            }
         }

         @media (max-width:$laptopLarge) {
            height: 482px;
         }

         @media (max-width:$tablet) {
            grid-column: 1/2;
            grid-row: 4/5;
            height: 345px;

            .products__descr {
               max-width: 195px;
            }
         }

         @media (max-width:$mobile) {
            height: 255px;
         }

         @media (max-width:$mobileSmall) {
            height: 167px;
         }
      }

      // .products__card_fuel

      &_fuel {
         background: #E52330;
         grid-column: 2/3;
         grid-row: 3/4;
         height: 699px;

         @media (max-width:$laptopLarge) {
            height: 482px;
         }

         @media (max-width:$tablet) {
            grid-row: 4/5;
            height: 345px;

            .products__descr {
               max-width: 195px;
            }
         }

         @media (max-width:$mobile) {
            height: 255px;
         }

         @media (max-width:$mobileSmall) {
            height: 167px;
         }
      }
   }

   // .products__card-ibg

   &__card-ibg {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      transition: all 0.3s ease 0s;

      img {
         object-fit: contain;
         object-position: right bottom;
      }
   }

   // .products__card-content

   &__card-content {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      height: 100%;
   }

   // .products__name

   &__name {
      font-size: 80px;
      line-height: 80px;
      text-transform: uppercase;
      margin-bottom: rem(42);

      @media (max-width:$laptopLarge) {
         font-size: 60px;
         line-height: 60px;
      }

      @media (max-width:$tablet) {
         font-size: 50px;
         line-height: 50px;
         margin-bottom: rem(20);
      }

      @media (max-width:$mobile) {
         font-size: 30px;
         line-height: 30px;
         flex: 1 1 auto;
      }

      @media (max-width:$mobileSmall) {
         font-size: 20px;
         line-height: 20px;
      }
   }

   // .products__descr

   &__descr {
      font-size: 30px;
      line-height: 40px;
      max-width: 357px;
      margin-bottom: rem(40);
      flex: 1 1 auto;

      @media (max-width:$laptopLarge) {
         font-size: 20px;
         line-height: 30px;
      }

      @media (max-width:$tablet) {
         font-size: 17px;
         line-height: 25px;
         margin-bottom: rem(0);
      }

      @media (max-width:$mobile) {
         font-size: 15px;
         line-height: 20px;
      }

      @media (max-width:$mobile) {
         display: none;
      }
   }

   // .products__link

   &__link {
      font-size: 30px;
      line-height: 40px;
      display: inline-flex;
      align-self: flex-start;
      align-items: center;
      gap: 28px;
      background: transparent;
      border-radius: 40px;

      transition: all 0.3s ease 0s;

      &::before {
         content: '';
         position: absolute;
         top: -100px;
         left: -100px;
         right: -100px;
         bottom: -100px;

         @media (max-width:$laptopLarge) {
            top: -50px;
            left: -50px;
            right: -50px;
            bottom: -50px;
         }

         @media (max-width:$tablet) {
            top: -30px;
            left: -30px;
            right: -30px;
            bottom: -30px;
         }

         @media (max-width:$mobileSmall) {
            top: -15px;
            left: -15px;
            right: -15px;
            bottom: -15px;
         }
      }

      @media (max-width:$tablet) {
         gap: 10px;
      }

      &::after {
         content: '';
         width: 20px;
         height: 21px;
         display: block;
         background: url(../img/arrow-white-right.svg) center / contain no-repeat;
         transition: transform 0.3s ease 0s;

         @media (max-width:$tablet) {
            width: 15px;
            height: 15px;
         }
      }

      @media (any-hover: hover) {
         &:hover {
            background: #000000;
            padding: rem(20) rem(40);

            &::after {
               transform: translate(10px, 0px);
            }
         }
      }

      @media (max-width:$laptopLarge) {
         font-size: 25px;
         line-height: 25px;
      }

      @media (max-width:$tablet) {
         font-size: 20px;
         line-height: 20px;
      }

      @media (max-width:$mobile) {
         font-size: 15px;
         line-height: 15px;
      }
   }
}